# Node
/node_modules
/dist
/build
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
*.local
*.log

# Logs
logs
*.log

# OS
Thumbs.db
Desktop.ini

# Misc
*.sublime-workspace
*.sublime-project

# IDEs
.vscode/
.idea/

# Others
*.tgz
